*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading-secondary {
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: 40px;
  font-weight: 300;
  color: #CE5B84;
}
.heading-secondary__shop {
  text-align: center;
  margin-bottom: 20px;
}
.heading-secondary__lab {
  text-align: center;
  margin-top: 30px;
}
.heading-secondary__cafe {
  text-align: start;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 30px;
}
.heading-secondary__form {
  text-align: end;
  -ms-flex-item-align: center;
      align-self: center;
}

.heading-card-shop {
  text-transform: uppercase;
  color: #CE5B84;
  font-family: "DM Mono";
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

/* 
@media screen and (min-width: 360px) and (max-width: 600px) {

}

@media (360px < width < 600px) {}

//CONTAINER
.main-container  {
    container-type: inline-size;
}

@container (width > 45ch)/(width >= 600px) / (360 <= width <=600)  {
    .header-menu {
   gap:50px;
    }
}
*/
.header-menu-box {
  background-color: #F5F0EA;
  width: 100%;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-li {
  list-style: none;
  color: #CE5B84;
  line-height: 25px;
  cursor: pointer;
  padding: 10px;
}
.menu-li:hover {
  text-shadow: 0 0 1px #CE5B84;
}
.menu-li__link {
  text-decoration: none;
  color: #CE5B84;
}

.header-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  background-color: #F5F0EA;
  justify-items: center;
  padding: 20px 85px 70px 85px;
}

.block-image_first {
  background-image: url(../img/slice-one.svg);
  background-size: cover;
  height: 550px;
  width: 100%;
  z-index: 5;
  /*
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.327), rgba(206, 91, 132, 0.73)),
  url('/img/ice-one.jpg');
   */
}
.block-image_second {
  height: 550px;
  width: 100%;
  z-index: 5;
  background-image: url(../img/Slice-2.svg);
  background-size: cover;
}
.block-image_third {
  height: 550px;
  width: 100%;
  background-image: url(../img/Slice-3.svg);
  background-size: cover;
}

.heading-container {
  -ms-flex-item-align: center;
      align-self: center;
}

.main-header {
  font-family: "DM Mono";
  font-weight: 300;
  font-size: 70px;
  text-transform: uppercase;
  color: #CE5B84;
  z-index: 1;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.secondary-header {
  font-family: "DM Mono";
  text-transform: uppercase;
  font-weight: 300;
  font-size: 45px;
  color: #5BA5CE;
  text-align: right;
  z-index: 1;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}
.main-container {
  container-type: inline-size;
  container-name: main-container;
}

@container main-container (1024px <= width <=1400px) {
  .header-container {
    display: grid;
    gap: 30px;
    padding: 10px 45px 60px 45px;
  }
  .header-menu {
    gap: 35px;
    font-size: 13px;
  }
  .main-header {
    font-size: 56px;
  }
  .secondary-header {
    font-size: 36px;
  }
  .block-image_first {
    width: 100%;
    height: 440px;
  }
  .block-image_second {
    width: 100%;
    height: 440px;
  }
  .block-image_third {
    width: 100%;
    height: 440px;
  }
}
@container main-container (640px <= width <= 1023px) {
  .header-container {
    display: grid;
    padding: 10px 60px 40px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
  }
  .block-image_first {
    grid-area: 1/1/2/2;
    height: 200px;
  }
  .block-image_second {
    grid-area: 3/1/4/2;
    height: 200px;
  }
  .block-image_third {
    grid-area: 1/2/4/3;
    height: 100%;
  }
  .heading-container {
    grid-area: 2/1/3/2;
  }
  .header-menu {
    gap: 25px;
    font-size: 13px;
  }
  .main-header {
    font-size: 56px;
    margin-right: 30px;
  }
  .secondary-header {
    font-size: 36px;
    margin-top: 50px;
  }
}
@container main-container (360px <= width <= 639px) {
  .header-menu-box {
    background-image: url(../img/Logo.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header-menu {
    height: 80px;
  }
  .menu-li {
    display: none;
  }
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding: 10px 30px 40px 30px;
  }
  .block-image_first {
    grid-area: 1/1/2/2;
    height: 230px;
  }
  .block-image_second {
    grid-area: 3/1/4/2;
    height: 230px;
  }
  .block-image_third {
    display: none;
  }
  .main-header {
    font-size: 45px;
    text-align: center;
  }
  .secondary-header {
    font-size: 26px;
    text-align: center;
  }
}
.offer-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 1px;
  background-color: #FFFCF8;
  padding-top: 100px;
  padding-bottom: 100px;
}
.offer-container__heading {
  text-align: end;
}
.offer-container__text {
  margin: 10px 90px 10px 90px;
}

.offer-text {
  font-size: 16px;
  font-weight: 400;
  color: #5BA5CE;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.offer-text__link {
  color: #5BA5CE;
  font-weight: 500;
  text-decoration: underline;
}

.conteiner-offer {
  container-type: inline-size;
  container-name: conteiner-offer;
}

@container conteiner-offer (1024px <= width <=1400px) {
  .offer-container__text {
    margin: -10px 60px 10px 60px;
  }
  .heading-secondary {
    font-size: 32px;
  }
  .offer-text {
    font-size: 13px;
  }
}
@container conteiner-offer (640px <= width <= 1023px) {
  .offer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 60px 30px 60px;
  }
  .offer-container__text {
    margin: 0;
  }
  .offer-container__heading {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .heading-secondary {
    font-size: 32px;
  }
  .offer-text {
    font-size: 13px;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@container conteiner-offer (360px <= width <= 639px) {
  .offer-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr);
    padding: 40px 30px 30px 30px;
  }
  .heading-secondary {
    font-size: 26px;
  }
  .offer-text {
    font-size: 13px;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  .offer-container__text {
    margin: 0px;
  }
}
.shop-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  background-color: #F5F0EA;
  justify-items: center;
  padding: 99px 85px 99px 85px;
}

.card-block {
  -ms-flex-item-align: center;
      align-self: center;
}
.card-block__first {
  background-size: cover;
}
.card-block__second {
  background-size: cover;
}
.card-block__third {
  background-size: cover;
}
.card-block__btn {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.card-img {
  width: 100%;
}

.text-card {
  font-size: 16px;
  font-weight: 400;
  color: #5BA5CE;
  text-align: center;
  margin-top: 10px;
}

.price-card {
  font-size: 15px;
  font-weight: 500;
  font-family: "DM Mono";
  color: #CE5B84;
  text-align: center;
  margin-top: 10px;
}

.btn-shop {
  border: none;
  width: 150px;
  height: 40px;
  background-color: #CE5B84;
  border-radius: 6.25px;
  color: #F5F0EA;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "DM Mono";
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-shop:hover {
  opacity: 0.6;
}
.btn-shop:active {
  background-color: #5BA5CE;
  opacity: 1;
}

.container-shop {
  container-type: inline-size;
  container-name: container-shop;
}

@container container-shop (1024px <= width <= 1400px) {
  .shop-container {
    display: grid;
    gap: 30px;
    padding: 59px 45px 59px 45px;
  }
  .heading-card-shop {
    font-size: 18px;
  }
  .text-card {
    font-size: 13px;
  }
  .price-card {
    font-size: 12px;
  }
  .heading-secondary__shop {
    font-size: 32px;
  }
  .btn-shop {
    font-size: 12px;
    width: 120px;
    height: 30px;
  }
}
@container container-shop (640px <= width <= 1023px) {
  .shop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 59px 60px 59px 60px;
  }
  .heading-card-shop {
    font-size: 18px;
  }
  .text-card {
    font-size: 13px;
  }
  .price-card {
    font-size: 12px;
  }
}
@container container-shop (360px <= width <= 639px) {
  .shop-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr);
    gap: 30px;
    padding: 29px 30px 29px 30px;
  }
  .heading-card-shop {
    font-size: 18px;
  }
  .text-card {
    font-size: 13px;
  }
  .price-card {
    font-size: 12px;
  }
  .heading-secondary__shop {
    font-size: 26px;
    grid-area: 1/1/2/2;
  }
  .btn-shop {
    font-size: 12px;
    width: 120px;
    height: 30px;
  }
  .card-block {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .card-block__first {
    grid-area: 2/1/3/2;
    justify-items: center;
    display: grid;
  }
  .card-block__second {
    grid-area: 3/1/4/2;
    justify-items: center;
    display: grid;
  }
  .card-block__third {
    display: none;
  }
  .card-block__btn {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .card-img {
    width: 100%;
  }
}
.laboratory-box {
  background-color: #FFFCF8;
  padding: 100px 380px 100px 380px;
}

.laboratory-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #5BA5CE;
}

.continer-lab {
  container-type: inline-size;
  container-name: laboratory;
}

@container laboratory (1024px <= width <= 1400px) {
  .laboratory-box {
    padding: 100px 280px 100px 280px;
  }
  .laboratory-text {
    font-size: 16px;
  }
}
@container laboratory (640px <= width <= 1023px) {
  .laboratory-box {
    padding: 50px 60px 50px 60px;
  }
  .laboratory-text {
    font-size: 13px;
  }
  .heading-secondary__lab {
    font-size: 32px;
  }
}
@container laboratory (360px <= width <= 639px) {
  .laboratory-box {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding: 40px 30px 30px 30px;
  }
  .laboratory-text {
    font-size: 13px;
    grid-area: 2/1/3/2;
    text-align: start;
  }
  .heading-secondary__lab {
    font-size: 32px;
    grid-area: 1/1/2/2;
    padding-left: 30%;
    text-align: end;
    margin-top: 0;
  }
}
.cafe-box {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 30px;
  padding: 100px 85px 100px 85px;
  background-color: #F5F0EA;
}

.adress-box {
  -ms-flex-item-align: center;
      align-self: center;
}

.cafe-text {
  color: #5BA5CE;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
}

.cafe-img {
  width: 100%;
}

.link-cafe {
  color: #A9CADC;
  cursor: pointer;
}

.cafe-container {
  container-type: inline-size;
  container-name: cafe-container;
}

@container cafe-container (1024px <= width <= 1400px) {
  .cafe-box {
    padding: 70px 45px 70px 45px;
    gap: 20px;
  }
  .cafe-text {
    font-size: 13px;
  }
  .heading-secondary__cafe {
    font-size: 32px;
  }
}
@container cafe-container (640px <= width <= 1023px) {
  .cafe-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding: 10px 45px 10px 45px;
  }
  .heading-secondary__cafe {
    font-size: 32px;
    grid-area: 1/1/2/2;
    text-align: center;
    margin-left: 0px;
  }
  .cafe-text {
    font-size: 13px;
    text-align: center;
    grid-area: 3/1/4/2;
  }
  .cafe-img {
    grid-area: 2/1/3/2;
  }
}
@container cafe-container (360px <= width <= 639px) {
  .cafe-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-row-gap: 10px;
    padding: 10px 30px 10px 30px;
  }
  .heading-secondary__cafe {
    font-size: 32px;
    grid-area: 1/1/2/2;
    text-align: center;
    margin-left: 0px;
  }
  .cafe-img {
    grid-area: 2/1/3/2;
  }
  .cafe-text {
    font-size: 13px;
    text-align: center;
    grid-area: 3/1/4/2;
  }
}
.form-box {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  background-color: #FFFCF8;
  padding: 100px 85px 100px 85px;
}

.text-form {
  text-align: end;
  color: #5BA5CE;
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
}

.text-form-name {
  color: #CE5B84;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.text-form-consent {
  color: #A9CADC;
  font-size: 13px;
  font-weight: 400;
  margin-top: 40px;
}

.form-link {
  color: #CE5B84;
  text-decoration: none;
}

.form__group {
  margin-top: 20px;
}
.form__input {
  width: 295px;
  height: 40px;
  border: 1.25px solid #5BA5CE;
  border-radius: 6.25px;
  color: #CE5B84;
}
.form__input:focus {
  outline: none;
  border: 2px solid #5BA5CE;
}
.form__input::-webkit-input-placeholder {
  color: #A9CADC;
  font-size: 13px;
  font-weight: 400;
  padding-left: 20px;
}

.btn-form {
  margin-top: 40px;
  border: none;
  background-color: #CE5B84;
  width: 295px;
  height: 40px;
  color: #FFFCF8;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-radius: 6.25px;
}
.btn-form:hover {
  opacity: 0.6;
}
.btn-form:active {
  background-color: #5BA5CE;
  opacity: 1;
}

.form-container {
  container-type: inline-size;
  container-name: form-container;
}

@container form-container (1024px <= width <= 1400px) {
  .form-box {
    gap: 30px;
    padding: 60px 45px 60px 45px;
  }
  .heading-secondary {
    font-size: 32px;
  }
  .text-form {
    font-size: 13px;
  }
  .text-form-name {
    font-size: 13px;
  }
  .text-form-consent {
    font-size: 10px;
  }
  .form__input {
    width: 230px;
  }
  .btn-form {
    width: 230px;
    font-size: 12px;
  }
}
@container form-container (640px <= width <= 1023px) {
  .form-box {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding: 40px 45px 40px 45px;
  }
  .heading-secondary__form {
    font-size: 32px;
    grid-area: 1/1/2/2;
    align-self: flex-start;
  }
  .text-form {
    font-size: 13px;
    grid-area: 2/1/4/2;
    align-self: center;
    padding-left: 0px;
  }
  .form__input {
    width: 100%;
  }
  .text-form-name {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .text-form-consent {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .form__group {
    margin-top: 0px;
  }
  .form__group-1 {
    grid-area: 1/2/2/3;
  }
  .form__group-2 {
    grid-area: 2/2/3/3;
  }
  .btn-form {
    grid-area: 3/2/4/3;
    margin-top: 20px;
    width: 100%;
  }
}
@container form-container (360px <= width <= 639px) {
  .form-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr);
    grid-row-gap: 10px;
    padding: 10px 30px 10px 30px;
  }
  .heading-secondary__form {
    font-size: 32px;
    grid-area: 1/1/2/2;
    padding-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .text-form {
    display: none;
  }
  .form__group {
    margin-top: 0px;
  }
  .form__group-1 {
    text-align: start;
  }
  .form__group-2 {
    text-align: start;
  }
  .form__input {
    width: 100%;
  }
  .btn-form {
    margin-top: 20px;
    width: 100%;
  }
  .text-form-consent {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.footer-container {
  background-color: #FFFCF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 47px 85px 47px 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.logo-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.footer-icon {
  -ms-flex-item-align: center;
      align-self: center;
}

.icon-social {
  margin-left: 30px;
}

.copyright {
  text-align: center;
  font-size: 13px;
  color: #A9CADC;
  margin-top: -50px;
}

.footer-cont {
  container-type: inline-size;
  container-name: footer-container;
}

@container footer-container (1024px <= width <= 1400px) {
  .footer-container {
    padding: 27px 45px 47px 45px;
  }
  .footer-menu {
    gap: 10px;
    font-size: 13px;
  }
  .footer-menu__ul {
    gap: 30px;
  }
  .icon-social {
    margin-left: 10px;
  }
  .copyright {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
@container footer-container (640px <= width <= 1023px) {
  .footer-container {
    padding: 17px 45px 37px 45px;
  }
  .footer-menu {
    gap: 10px;
    font-size: 10px;
  }
  .footer-menu__ul {
    gap: 1px;
  }
  .icon-social {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .copyright {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .logo-footer {
    margin-right: 40px;
  }
}
@container footer-container (360px <= width <= 639px) {
  .footer-container {
    padding: 10px 30px 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-footer {
    display: none;
  }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer-icon {
    padding-top: 20px;
  }
  .icon-social {
    margin-left: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .copyright {
    font-size: 10px;
    padding-top: 10%;
  }
}
