@use "../base/variables" as *;

.cafe-box {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 30px;
    padding: 100px 85px 100px 85px;
}

.adress-box {
    align-self: center;
   // padding-left: 60px;
}

.cafe-text {
    color: $color-blue;
    font-size: 16px;
    font-weight: 400;
    text-align: end;
}

.heading-secondary-cafe {
    text-transform: uppercase;
    font-family: "DM Mono";
    font-size: 40px;
    font-weight: 300;
    color: $color-pink;
    text-align:start;
    align-self: center;
    margin-left: 30px;
    
}