@use "../base/variables" as *;
@use "../base/typografy" as *;

.footer-container {
    background-color: $color-main-light;
    display: flex;
    padding: 47px 85px 47px 85px;
   justify-content: space-between;

}

.footer-menu {
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 20px; 

    &__ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}


.logo-footer {
    justify-content: flex-start;
    align-items: center;
    margin-right: 90px;
   
}

.footer-icon {
align-self: center;
}

.icon-social {
    margin-left: 30px;
}

.copyright {
    text-align: center;
    font-size: 13px;
    color: $color-blue-light;
   margin-top: -50px;

}

