@use "../base/variables" as *;
@use "../base/typografy" as *;

.form-box {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    background-color: $color-main-light;
    padding: 100px 85px 100px 85px;
}


.text-form {
   text-align: end;
   color: $color-blue;
   font-size: $default-font-size;
   font-weight: 400;
   padding-left: 30px;
}

.text-form-name {
    color: $color-pink;
    font-size: $default-font-size;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-form-consent {
    color: $color-blue-light;
    font-size: 13px;
    font-weight: 400;
    margin-top: 40px;
}

.form-link {
    color: $color-pink;
    text-decoration: none;
}

.form {

    &__group {
      margin-top: 20px;
    }

    &__input {
        width: 295px;
        height: 40px;
        border: 1.25px solid $color-blue;
        border-radius: 6.25px;
        color: $color-pink;

        &:focus {
            outline: none;
            border: 2px solid $color-blue;
            }

        &::-webkit-input-placeholder {
            color: $color-blue-light;
            font-size: 13px;
            font-weight: 400;
            padding-left: 20px;
        }
    }
}

.btn-form {
    margin-top: 40px;
    border: none;
    background-color: $color-pink;
    width: 295px;
    height: 40px;
    color: $color-main-light;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 6.25px;

    &:hover {
        opacity: .6; 
     }
     
     &:active {
        background-color: $color-blue;
        opacity: 1;
    } 
}

.form-container {
    container-type: inline-size;
    container-name: form-container;
}

@container form-container (1024px <= width <= 1400px) {
    .form-box {
        gap: 30px;
        padding: 60px 45px 60px 45px;
    }

    .heading-secondary {
        font-size: 32px;
    }

    .text-form {
        font-size: 13px;
    }

    .text-form-name {
        font-size: 13px;
    }

    .text-form-consent {
        font-size: 10px;
    }

    .form__input {
    width: 230px;
    }

    .btn-form {
        width: 230px;
        font-size: 12px;
    }
}

@container form-container (640px <= width <= 1023px) {
    .form-box {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        padding: 40px 45px 40px 45px;

    }

    .heading-secondary__form {
        font-size: 32px;
      //  padding-left: 90px;
        grid-area: 1 / 1 / 2 / 2;
        align-self: flex-start;
    }

    .text-form {
        font-size: 13px;
        grid-area: 2 / 1 / 4 / 2;
        align-self: center;
        padding-left: 0px;
    }

    .form__input {
        width: 100%;
        }


    .text-form-name {
        font-size: 13px;
        margin-bottom: 10px;
    }
 
    .text-form-consent {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .form__group {
     margin-top: 0px;
    }

    .form__group-1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .form__group-2 {
        grid-area: 2 / 2 / 3 / 3; 
    }


    .btn-form {
        grid-area: 3 / 2 / 4 / 3;
        margin-top: 20px;   
        width: 100%;

    }

}

@container form-container (360px <= width <= 639px) {
    .form-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 0.5fr);
        grid-row-gap: 10px;
        padding: 10px 30px 10px 30px;

    }

    .heading-secondary__form {
        font-size: 32px;
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 40%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text-form {
       display: none; 
    }

    .form__group {
        margin-top: 0px;
       }
   
       .form__group-1 {
          text-align: start;
       }
       .form__group-2 {
        text-align: start;
       }

       .form__input {
        width: 100%;
        }

        .btn-form {
            margin-top: 20px;   
            width: 100%;
        }   

        .text-form-consent {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 10px;

        }

}
