@use "../base/variables" as *;

.laboratory-box {
    background-color: $color-main-light;
    padding: 100px 380px 100px 380px;
}

.laboratory-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: $color-blue;
}

.heading-secondary-lab {
    text-transform: uppercase;
    font-family: "DM Mono";
    font-size: 40px;
    font-weight: 300;
    color: $color-pink;
    text-align: center;
    margin-top: 30px;
    
}
