@use "../base/variables" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $default-font-size;
}

body {
    font-weight: 400;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    padding: .5rem;
}